@section styles {
    <!-- DataTables -->
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">news</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Patients</a></li>
                    <li class="breadcrumb-item active">All Patients</li>
                </ol>
            </div>
            <h4 class="page-title">All Patients</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-gradient-primary px-4 mt-0 mb-3" onclick="location.href='@Url.Action("patient-profile", "hospital")'"><i class="mdi mdi-plus-circle-outline mr-2"></i>Add New Patient</button>
                <div class="table-responsive">
                    <table id="datatable" class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Patient Name</th>
                                <th>Age</th>
                                <th>ID</th>
                                <th>Address</th>
                                <th>Mobile No</th>
                                <th>Last Visit</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </tr><!--end tr-->
                        </thead>

                        <tbody>
                            <tr>
                                <td><a href="@Url.Action("patient-profile", "hospital")"><img src="~/images/users/user-10.jpg" alt="" class="thumb-sm rounded-circle mr-2">Donald Gardner</a></td>
                                <td>36</td>
                                <td>#1236</td>
                                <td>B28 University Street US</td>
                                <td>+123456789</td>
                                <td>18/07/2019</td>
                                <td><span class="badge badge-soft-success">Approved</span></td>
                                <td class="text-right">
                                    <a href="/" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td><a href="@Url.Action("patient-profile", "hospital")"><img src="~/images/users/user-9.jpg" alt="" class="thumb-sm rounded-circle mr-2">Keith Jacobson</a></td>
                                <td>48</td>
                                <td>#1236</td>
                                <td>B28 University Street US</td>
                                <td>+123456789</td>
                                <td>18/07/2019</td>
                                <td><span class="badge badge-soft-success">Approved</span></td>
                                <td class="text-right">
                                    <a href="/" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td><a href="@Url.Action("patient-profile", "hospital")"><img src="~/images/users/user-9.jpg" alt="" class="thumb-sm rounded-circle mr-2">Greg Crosby</a></td>
                                <td>27</td>
                                <td>#1236</td>
                                <td>B28 University Street US</td>
                                <td>+123456789</td>
                                <td>18/07/2019</td>
                                <td><span class="badge badge-soft-success">Approved</span></td>
                                <td class="text-right">
                                    <a href="/" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td><a href="@Url.Action("patient-profile", "hospital")"><img src="~/images/users/user-8.jpg" alt="" class="thumb-sm rounded-circle mr-2">Fred Godina</a></td>
                                <td>22</td>
                                <td>#1236</td>
                                <td>B28 University Street US</td>
                                <td>+123456789</td>
                                <td>18/07/2019</td>
                                <td><span class="badge badge-soft-success">Approved</span></td>
                                <td class="text-right">
                                    <a href="/" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td><a href="@Url.Action("patient-profile", "hospital")"><img src="~/images/users/user-7.jpg" alt="" class="thumb-sm rounded-circle mr-2">Peggy Doe</a></td>
                                <td>51</td>
                                <td>#7851</td>
                                <td>B28 University Street US</td>
                                <td>+123456789</td>
                                <td>20/07/2019</td>
                                <td><span class="badge badge-soft-warning">Panding</span></td>
                                <td class="text-right">
                                    <a href="/" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                            <tr>
                                <td><a href="@Url.Action("patient-profile", "hospital")"><img src="~/images/users/user-8.jpg" alt="" class="thumb-sm rounded-circle mr-2">Jennifer Doss</a></td>
                                <td>18</td>
                                <td>#3654</td>
                                <td>B28 University Street US</td>
                                <td>+123456789</td>
                                <td>19/07/2019</td>
                                <td><span class="badge badge-soft-warning">Panding</span></td>
                                <td class="text-right">
                                    <a href="/" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a href="#"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                </td>
                            </tr><!--end tr-->
                        </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Patient Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="PatientName">Patient Name</label>
                                <input type="text" class="form-control" id="PatientName" value="Fred Godina" required="">
                            </div><!--end col-->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Age">Age</label>
                                        <input type="text" class="form-control" id="Age" value="22" required="">
                                    </div>
                                </div> <!--end col-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="PatientID">Patient ID</label>
                                        <input type="text" class="form-control" id="PatientID" value="#1236" required="">
                                    </div>
                                </div><!--end col-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Status">Status</label>
                                        <input type="text" class="form-control" id="Status" value="Approved" required="">
                                    </div>
                                </div> <!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="LastVisit">Last Visit</label>
                                        <input type="text" class="form-control" id="LastVisit" value="18/07/2019" required="">
                                    </div>
                                </div> <!--end col-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="PhoneNo">Phone No</label>
                                        <input type="text" class="form-control" id="PhoneNo" value="+123456789" required="">
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end col-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message">Address</label>
                                <textarea class="form-control" rows="3" id="message" value="">B28 University Street US</textarea>
                            </div>
                            <img src="~/images/users/user-8.jpg" alt="" class="thumb-md mb-2">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose Photo</label>
                            </div>
                        </div> <!--end col-->
                    </div><!--end row-->

                    <button type="button" class="btn btn-sm btn-primary">Save</button>
                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                </form><!--end form-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $('#datatable').DataTable();
    </script>
}